@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import "tailwindcss"; 

@theme {
  --font-display:'Bungee',sans-serif;
  --breakpoint-3xl:1920px;
  --color-primary:#FF9324;
}

@layer base {
  html {
      font-family: var(--font-display);
  }
  body{
    background-color:beige;
  }
}
